.button{
    -fx-background-radius: 10px;
}

#labelTitulo{
    -fx-font-size: 25px;
}

#labelInformacion{
    -fx-font-size: 15px;
}

#operacionPosfija, #resultadoPosfija, #arbolPosfija{
    -fx-background-radius: 10px;
}